body{
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-image: linear-gradient(rgb(255, 0, 0), rgb(0, 0, 53));
    background-repeat: no-repeat; */
}
.calculator{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(156, 156, 156);
    width: 30%;
    height: 800px;
    border-radius: 12px;
    border-style: solid;
}
.display{
    height: 30%;
    width: 60%;
    /* background-color: red; */
    align-items: end;
    border-radius: 24px;
    margin-bottom: 4px;
}
.numberDisplay{
    display: flex;
    justify-content: flex-end;
}
.row1{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    /* background-color: red; */
}
.row2{
    display: flex;
    justify-content: space-around;
    gap: 4px;
    margin: 4px;
    flex: 1;
    /* background-color: yellow; */
}
.row3{
    display: flex;
    justify-content: space-evenly;
    gap: 4px;
    margin: 4px;
    padding: 0;
    flex: 1;
    /* background-color: green; */
}
.row4{
    display: flex;
    justify-content: space-evenly;
    gap: 4px;
    margin: 4px;
    padding: 0;
    flex: 1;
    /* background-color: blue; */
}
.row5{
    display: flex;
    justify-content: space-evenly;
    gap: 4px;
    margin: 4px;
    padding: 0;
    flex: 1;
    /* background-color: purple; */
}
button:hover{
    background-color: gray;
}
.clear, .back{
    width: 40%;
    height: 50px;
    flex: 1;
}
.containerButtons{
    display: flex;
    flex-direction: column;
    /* background-color: blueviolet; */
    height: 50%;
    width: 100%;
}
button{
    border-radius: 64px;
}
.mainButton{
    flex-grow: 1.5;
}
.operatorButton{
    /* flex-shrink: 3; */
    flex-grow: 1;
}